* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 100%;
	height: 50px;
	background-color: #FF9A4B;
}

main {
	width: 960px;
	margin: 50px auto;
}

section {
	float: left;
	width: 300px;
	margin-right: 30px;
	background-color: #EEEEEE;
}

section:last-child {
	margin-right: 0;
}

span {
	color: white;
	background-color: #FF9A4B;
	position: absolute;
	text-align: center;
}

.img1 {
	background-image: url(img/flow01.png);
}

.img2 {
	background-image: url(img/flow02.png);
}

.img3 {
	background-image: url(img/flow03.png);
}

.img1, .img2, .img3 {
	height: 150px;
	margin: 10px;
	background-size: cover;
	background-position: center;
}

h3 {
	padding: 5px 10px;
}

p {
	padding: 0 10px 10px;
	line-height: 1.5;
}

footer {
	width: 100%;
	height: 50px;
	background-color: #AAAAAA;
}

@media screen and (max-width: 768px) {
	main {
		width: 100%;
	}
	section {
		width: 90%;
		margin: 0 auto 20px;
		float: none;
	}
	section:last-child {
		margin: 0 auto;
	}

}